
body {
    margin: 0;
    background-color: #b4eef5;
}

html {
    box-sizing: border-box;
    font-family: sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
    /* outline: 1px red solid !important; */
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(6, 100px);
    justify-content: center;
    align-items: ;
    margin-top: 200px;
    
    
}

.center {
    background: rgb(73, 54, 54);
    outline: 10px solid rgb(65, 55, 55);
    height: 600px;
    width: 400px;
    margin: auto;
}

.display {
    justify-self: stretch;
    width: 400px;
    grid-column: 1 / 5;
    text-align: end;
    font-size: 28px;
    padding-top: 60px;
    overflow:auto;
    overflow-wrap: normal;
    background-color: #d4d4d4;
    outline: 1px solid black;
    
}

button {
    font-size: 40px;
    color: white;
    outline: 1px solid black;
}

.ac, .c {
    background-color: #2d51d2;
}

.ac:hover, .c:hover {
    background-color: #2542aa;
}

.operator {
    background-color: #505050;
}

.operator:hover {
    background-color: #262626;
}

.number {
    background-color: #9b9b9b;
}

.number:hover {
    background-color: #707070;
}

.equal {
    width: 200px;
    background-color: #ff9500;
}

.equal:hover {
    background-color: #ca7600;
}

.selected {
    transition: all 0.3s;
    background-color: hsla(0, 0%, 100%, 0.733);
    color: #ca7600;
}

.selected:hover {
    background-color: hsla(0, 4%, 83%, 0.733);
}